<form method="post" action="/add_album/add_new">
  <label for="artist-name">Select Artist Name:</label>
  <select id="artist-name" name="artist_id">
    <% Artist.all.each do |artist|  %>
      <!-- <option value="<%= artist.id %>"><%= artist.artist_name %></option> -->
      <%= "<option value=#{artist.id}>#{artist.artist_name}</option>" %>
    <% end  %>
  </select>


  <label for="album-name">Album Name:</label>
    <input id="album-name" type="text" name="album_name">

  <label for="buy-price">Buy Price:</label>
    <input id="buy-price" type="number" name="buy_price"/>

  <label for="sell-price">Sell Price:</label>
    <input id="sell-price" type="number" name="sell_price"/>

  <label for="album_quantity">Quantity:</label>
    <input id="album-quantity" type="number" name="quantity">

  <input type='submit' value="Add Album"/>
</form>
