<p>Projected Profit of Inventory</p>


<div class="albums">
  <% @total_profit = 0 %>
 <% for album in @albums%>
 <% @total_profit += album.profit() %>
 <% end %>

</div>
<div>
   <div class="profit">
   <p>£<%= @total_profit%>  </p>
   </div>
</div>
